<!-- <section> -->
<h3 class="add-header">Add attendee</h3>
<form action="/events/<%- myURL%>/adduser" method="POST" id="add-user">
  <div class="new-name">
    <input
      type="text"
      class="form-control"
      id="inlineFormInputName"
      placeholder="New Attendee Name"
      name="name"
    />
  </div>
  <div class="new-email">
    <input
      type="text"
      class="form-control"
      id="inlineFormInputGroupUsername"
      placeholder="Email"
      name="email"
    />
  </div>
<div class="checkbox-div">
  <% let counter = 1; %>
  <% for(let date of dates) { %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="<%-date.dateId%>" />
      <label class="form-check-label" for="autoSizingCheck2">
        <div class="checkbox-element">
        <div class="start-check"><h6>Start:</h6>
        <%= date.startDate.toLocaleDateString()%>
        <%= date.startTime%></div>
        <div class="end-check"><h6>End:</h6>
        <%= date.endDate.toLocaleDateString() %>
        <%= date.endTime %></div>
        </div>
      </label>
    </div>
    <% counter++; %>
<% } %>
</div>
  <div class="add-button">
    <input class="btn btn-outline-light" type="submit" />
  </div>
</form>
<!-- </section> -->
