<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300&display=swap" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- DATE PICKER -->

    <title>Dates</title>
  </head>

  <body>
    <header>
      <%- include("partials/_header") %>
    </header>

    <section class="dates-title">
      <h1>
        <%- event.title %>
      </h1>
      <h4>
        <%- user.name %>
      </h4>


      <h4>
        <%- event.location %>
      </h4>
      <h4>
        <%- event.description %>
        <%- randoString %>
      </h4>
    </section>

    <section id="events-and-options">
      <section class="options-with-button" id="options-container">
        <form action="/dates/new" method="POST" id="send-dates-to-db">
          <input type="hidden" name="eventurl" value=<%- randoString %>>
          <div class="options-container">
            <!-- put options container here -->
          </div>
          <input type="submit" id="send" class="send-dates-button" value="send"/>


        </form>
      </section>

      <section class="calendars">
        <form action="add-dates-to-options" method="POST" id="dates-form">
          <section class="start-calendars">
            <h5>Start Date</h5>
            <input class="start-date" type="date" name="startDate" />
            <h5>Start Time</h5>
            <input class="start-time" type="time" name="startTime" />
          </section>

          <section class="end-calendars">
            <h5>End Date</h5>
            <input class="end-date" type="date" name="endDate" />
            <h5>End Time</h5>
            <input class="end-time" type="time" name="endTime" />
          </section>
          <input
            type="submit"
            value="Add Option"
            class="end-date-button"
            id="end-date-button"
          />
        </form>
      </section>
    </section>
  </body>
</html>
